/* Font Face */

@font-face{
	font-family: 'OpenSansLight';
	src: url('../fonts/OpenSans-Light-webfont.eot');
	src: url('../fonts/OpenSans-Light-webfont.eot?iefix') format('eot'),
	     url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
	     url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
	     url('../fonts/OpenSans-Light-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'OpenSansRegular';
	src: url('../fonts/OpenSans-Regular-webfont.eot');
	src: url('../fonts/OpenSans-Regular-webfont.eot?iefix') format('eot'),
	     url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
	     url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
	     url('../fonts/OpenSans-Regular-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'OpenSansSemiBold';
	src: url('../fonts/OpenSans-Semibold-webfont.eot');
	src: url('../fonts/OpenSans-Semibold-webfont.eot?iefix') format('eot'),
	     url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
	     url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
	     url('../fonts/OpenSans-Semibold-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSans-Bold-webfont.eot');
	src: url('../fonts/OpenSans-Bold-webfont.eot?iefix') format('eot'),
	     url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
	     url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
	     url('../fonts/OpenSans-Bold-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'RobotoLight';
	src: url('../fonts/Roboto-Light-webfont.eot');
	src: url('../fonts/Roboto-Light-webfont.eot?iefix') format('eot'),
	     url('../fonts/Roboto-Light-webfont.woff') format('woff'),
	     url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
	     url('../fonts/Roboto-Light-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'RobotoRegular';
	src: url('../fonts/Roboto-Regular-webfont.eot');
	src: url('../fonts/Roboto-Regular-webfont.eot?iefix') format('eot'),
	     url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
	     url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
	     url('../fonts/Roboto-Regular-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'RobotoBold';
	src: url('../fonts/Roboto-Bold-webfont.eot');
	src: url('../fonts/Roboto-Bold-webfont.eot?iefix') format('eot'),
	     url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
	     url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
	     url('../fonts/Roboto-Bold-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'AndadaRegular';
	src: url('../fonts/Andada-Regular.eot');
	src: url('../fonts/Andada-Regular.eot?iefix') format('eot'),
	     url('../fonts/Andada-Regular.woff') format('woff'),
	     url('../fonts/Andada-Regular.ttf') format('truetype'),
	     url('../fonts/Andada-Regular.svg#webfont') format('svg');
}

@font-face{
	font-family: 'AndadaItalic';
	src: url('../fonts/Andada-Italic.eot');
	src: url('../fonts/Andada-Italic.eot?iefix') format('eot'),
	     url('../fonts/Andada-Italic.woff') format('woff'),
	     url('../fonts/Andada-Italic.ttf') format('truetype'),
	     url('../fonts/Andada-Italic.svg#webfont') format('svg');
}

/* CSS Reset */
html, body {
  max-width: 100%;
	max-height: 100%;
  margin: 0;
  padding: 0;

}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

ul {
	list-style: none;
	padding:0;
	margin:0;
}

/* GENERAL */

#ml-wrapper {
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* PHONES */

@media only screen
  and (min-width: 320px)
  /*and (-webkit-min-device-pixel-ratio: 2)*/ {

    /* Actual CSS-Styles */

    body {
      font-family: "RobotoRegular", Helvetica, Arial, sans-serif;
      font-size: 1.3em;
      color: #616161;
      -webkit-overflow-scrolling: touch;
    }

    p.ml-ingress {
    	font-style: italic;
    }

    hr.ml-grey-divider {
    	border: solid 1px #efefef;
    }

    h1 {
        padding: 3% 0 8% 0;
        font-size: 1em;
        font-weight: lighter;
    }

    h2 {
      /* font-family: "OpenSansSemibold", Helvetica, Arial, sans-serif; */
      text-align: center;
      font-size: 2.4em;
      font-family: "AndadaRegular", Georgia, serif;
      color: #404040;
      }

    h3 {
      font-family: "RobotoBold", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      text-align: center;
      padding: 10% 0 10%;
      letter-spacing: 0.1em;
      color: #737373;
      font-size: 1.1em;
    }

    h4 {
    	font-family: "OpenSansBold", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      text-align: center;
      padding: 5% 0 5%;
      letter-spacing: 0.1em;
      color: #737373;
      font-size: 0.8em;
    }

    h5 {
        font-family: "AndadaRegular", Georgia, serif;
        font-weight: lighter;
        font-size: 1.04em;
        text-align: center;
        color: darkgrey;
    }

    mark {
    	background-color: transparent;
    	color: #6f6e6e;
    	text-decoration: underline;
    	text-decoration-style: dotted;
    	-webkit-text-decoration-style: dotted;
    	-moz-text-decoration-style: dotted;
    }

    button {
    	width: 100%;
    	height: 5%;
    	-webkit-appearance: none;
    	border: 0;
    }

    :focus {
    	border: 0;
    	background-image: none;
      outline: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }

    a {text-decoration: none;font-family: "RobotoBold";color: #656565;};

    /* Wrapper */

    body#ml-wrapper {
    	max-width:100%;
    	height:100%;
    	overflow-x: hidden;
    }

    /* Header */

    div#ml-mobile-navigation-content-wrapper {
      display: block;
    }

    div#ml-desktop-navigation-content-wrapper {
    	display: none;
    }

    header#ml-mobile-header {
      max-width: 100%;
      height: 6%;
    }

    div.ml-menu-scrolled {
      border-bottom: solid 1px;
      border-color: #f3f3f3;
    }

    section#ml-profile-wrapper {
      max-width: 100%;
      height: 42%;
      padding: 16% 0 0;
    	position: relative;
    }

		section#ml-desktop-mini-profile-wrapper {
			display: none;
		}

    div#ml-profile {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background-color: #e8e8e8;
      display: table;
      border-color: #e8e8e8;
      margin: 0 auto;
      z-index: -2;
      position: relative;
      transform: scale(0);
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
    }

    img#ml-profile-github-badge {
    	width: 13%;
    	position: absolute;
    	top: 22%;
    	left: 23%;
    	transform: scale(0);
    	-webkit-transform: scale(0);
    	-moz-transform: scale(0);
    }

    img#ml-profile-linkedin-badge {
    	width: 13%;
    	position: absolute;
    	top: 40%;
    	left: 15%;
    	transform: scale(0);
    	-webkit-transform: scale(0);
    	-moz-transform: scale(0);
    }

    div#ml-profile-type-wrapper {
    	width: 63%;height: 23%;position: absolute;top: 50%;left: 17%;
    }

    span.ml-typing-txt {
    	position: absolute;
    	font-size: 2.6em;
    	text-align: center;
    	width: 100%;
    	color: #aaaaaa;
    }

    div#ml-mini-profile {
    	width: 10px;
    	height: 10px;
    	left:0;
    	border-radius: 50%;
    	display: inline-block;
      background-color: #e8e8e8;
    	border-color: #e8e8e8;
    }

    div#ml-menu-icon-wrapper {
      text-transform: uppercase;
      /* display: block; */
      font-size: 22pt;
      left: 0%;
      max-width: 100%;
      height: 37px;
      text-align: right;
      color: #3c3c3c;
      padding: 3%;
      z-index: 9999999;
      position: relative;
    	background-color: #ffffff;
    }


    i#ml-menu-icon {
    	position: absolute;
    	right: 3%;
    	top: 25%;
    }

    i#ml-menu-close-icon {
    	position: absolute;
    	right: 3%;
    	display: none;
    	top: 25%;
    }

    nav#ml-mobile-navigation {
      width: 100%;
      position: fixed;
    	z-index: 999999; /* To make sure it's always on top! */
    }

    nav#ml-mobile-navigation #ml-mobile-navigation-content-wrapper {
    	max-width: 100%;
    	top: 0%;
    	left: 0;
    }

    nav#ml-mobile-navigation #ml-mobile-navigation-content {
    	width: 100%;
    	height: 210px;
    	bottom: 100%;
    	position: absolute;
    	left: 0;
    	background-color: rgba(249, 249, 249, 1);
    	z-index: 10;
    	border-bottom: solid 1px #efefef;
    }

    nav#ml-mobile-navigation #ml-mobile-navigation-content #ml-mobile-navigation-list {padding: 3%;text-align: center;margin: 0;font-size: 1.2em;font-weight: lighter;line-height: 1.5em;color: #4a4a4a;}

    ul#ml-mobile-navigation-list a {
        font-family: "RobotoRegular";
    }

    div#ml-mini-profile-wrapper {
        left: 0;
        position: relative;
        max-width: 100%;
    }

    img.ml-mini-social-icon {
    	width: 9%;
    	float: left;
    	margin-right: 2%;
    	margin-top: 0.5%;
    	display: none;
    }

    /* Site Content */

    main#ml-main {
     max-width: 100%;
     height: auto;
    }

    main#ml-main p {
    	font-family: "RobotoLight", Helvetica, Arial, sans-serif;
    	font-size: 0.9em;
    }

    main .ml-page-title {
      max-width: 100%;
      padding: 5% 0;
    }

    main#ml-main p {
      color: #848484;
      line-height: 1.5em;
    }

    section#ml-bio {
      max-width: 100%;
      padding: 7% 3% 0% 3%;
    }

    section#ml-content {
      max-width: 100%;
      padding: 5% 3% 0% 3%;
    }

    /*Portfolio-section */

    figure.ml-portfolio-expandable h5 {
    	font-family: "OpenSansSemiBold";
    	font-size: 1.2em;
    	color: #6d6d6d;
    	text-transform: uppercase;
    	padding: 5% 0 3% 0;
    }

    figure.ml-portfolio-expandable h4 {
        font-size: 0.6em;
        display: inline-block;
        text-align: left;
    }

    span.ml-bolder-text {
    	font-weight: bolder;
    	color: #5d5d5d;
    }

    i.ml-portfolio-collapse-icon {
    	width: 64%;
    	text-align: left;
    	right: 0;
    }

    div.ml-portfolio-collapse-tab {display: inline-block;text-align: center;width: 100%;}

    figure.ml-portfolio-expandable {
    	max-width: 100%;
      overflow: hidden;
    	padding: 0;
      margin: 0;
    	display:none;
    	box-shadow: 1%;
    }

    img.ml-portfolio-thumb {
    	width: 100%;
    	margin: 0;
      padding: 2% 0 2% 0;
    	display: block;
    	opacity: 0;
    }

    iframe#ml-web-portfolio-iframe-01, iframe#ml-web-portfolio-iframe-02, img#ml-web-portfolio-iframe-03 {
    	display:none;
    	opacity:0;
    	width: 100%;
    	height: 94vw;
    	padding: 0;
    	margin: 0;
    }

    div#ml-web-portfolio-iframe-04 {
    	display: none;
    	text-align: center;
    	opacity:0;
    	width: 100%;
    }

    button.ml-github-cta {
    	background-color: #525252;
    	margin: 8% 0 8% 0;
    }

    .ml-github-cta:active {
    	background-color: #2d2d2d;
    	-webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    button.ml-github-cta h4 {
        font-size: 1.2em;
        color: #fff;
        letter-spacing: 0.35em;
        width: 100%;
        text-align: center;
    }

    button.ml-github-cta #ml-github-icon {
    	padding-right: 2%;
    	font-size: 1.5em;
    	vertical-align: bottom;
    }

    /* About-section */

    button.ml-linkedin-cta {
    	background-color: #6abae2;
    	margin: 8% 0 8% 0;
    }

    .ml-linkedin-cta:active {
    	background-color: #2894ca;
    	-webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    button.ml-linkedin-cta h4 {
        font-size: 1.3em;
        color: #fff;
        letter-spacing: 0.35em;
    }

    button.ml-linkedin-cta #ml-linkedin-icon {
    	padding-right: 2%;
    	font-size: 1.5em;
    	vertical-align: bottom;
    }

    /* Skills Section */
    figure.ml-skillset {
    	max-width: 100%;
    	height: auto;
    	padding: 0;
    	margin: 3% 0 8%;
    }

    div.ml-skillset-desc {
    	-webkit-column-count: 3;
    	-moz-column-count: 3;
    	column-count: 3;
    	max-width: 100%;
    	font-size: 0.5em;
    	font-family: "OpenSansSemiBold";
    	color: #7d7d7d;
    	text-align: center;
    	padding: 0 0 3%;
    }
    article#ml-skills ul li {
    	text-align: center;
    }

    div.ml-skill-meter-wrapper {
    	max-width: 100%;
    	height: 10px;
    	margin: 1%;
    	position: relative;
    	background-color: #e8e8e8;
    	z-index: -1;
    }

    span.ml-skill-meter {
    	height: 96%;
    	background-color: #84b584;
    	display: block;
    	position: absolute;
    	z-index: -1;
    	width: 0;
    }


    p.ml-skilsset-years-exp {
    	text-align: center;
    	text-transform: uppercase;
    	font-family: "OpenSansBold" !important;
    	letter-spacing: 0.4em;
    	color: #b7b7b7 !important;
    	font-size: 0.6em !important;
    	padding-top: 3%;
    }

    hr.ml-divider{
    	border-top: 1px #f5f5f5;
    	border-left: 0;
    	border-right: 0;
    	width: 100%;
    }

    /* Tools Section */

    p.ml-toolbox-list {
    	text-align: center;
    	margin: 0% 0 10%;
    	padding: 0;
    }

    div.ml-toolbox-icon-wrapper {
    	width: 100%;
    	display: inline-block;
    	margin: 5% 0 0 0;
    }

    article#ml-toolbox h4 {
        padding: 6% 0 1%;
        font-size: 0.65em;
    }

    img.ml-toolbox-icon {
    	width: 25%;
    	height: 25%;
    	display: block;
    	margin: 0 auto;
    	text-align: center;
    	-webkit-transform: scale(0);
    	-moz-transform: scale(0);
    	transform: scale(0);
    }

    .ml-toolbox-figure {
    	padding: 1% 0 1%;
    }

    /* Contact Section */
    article#ml-contact {
      max-width: 100%;
      text-align: center;
    }

    img.ml-social-icon {
      width: 20%;
      height: auto;
      display: inline-block;
      margin: 0 auto;
      padding: 7% 3% 5% 3%;
    	-webkit-transform: scale(0);
    	-moz-transform: scale(0);
    	transform: scale(0);
    }

    figure.ml-contact-mail {
    	max-width: 100%;
    }

    figure.ml-contact-socials {
    	max-width: 100%;
    }

    /* Footer */
    footer#ml-footer {
      max-width: 100%;
      height: 7%;
      padding: 5% 0 0;
    }

    footer .ml-footer-text {
    	font-size: 0.55em;
    	text-align: center;
    	color: #a7a7a7;
    }



}

/* TABLETS */

@media only screen
  and (min-width: 768px)
  /*and (-webkit-min-device-pixel-ratio: 1)*/ {

    /* Actual CSS-Styles */

    body {
      font-family: "Helevetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14pt;
      color: #1a1a1a;
    }

    h1, h2, h3, h4, h5 {

    }

    h1 {}

    h2 {}

    h3 {
        /* padding: 6% 0 6%; */
    }

    h4 {
        padding: 0% 0 3%;
        font-size: 0.75em;
    }

    .ml-content-h4 {
        padding: 6% 0 6%;
        font-size: 1em;
    }

    .ml-cta {
        padding: 3% 0 3%;

    }

    h5 {
    }

    a {text-decoration: none};


    /* Wrapper */

    body#ml-wrapper {
    	max-width:100%;
    	height:100%;
    	overflow-x: hidden;
    }

    /* Header */

    div#ml-mobile-navigation-content-wrapper {
      display: block;
    }

    div#ml-desktop-navigation-content-wrapper {
    	display: none;
    }

    header#ml-mobile-header {
      max-width: 100%;
      height: 6%;
    }

    div.ml-menu-scrolled {
      border-bottom: solid 1px;
      border-color: #f3f3f3;
    }

    section#ml-profile-wrapper {
      max-width: 100%;
      height: 42%;
      padding: 16% 0 0;
    	position: relative;
    }

    div#ml-profile {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background-color: #e8e8e8;
      display: table;
      border-color: #e8e8e8;
      margin: 0 auto;
      z-index: -2;
      position: relative;
      transform: scale(0);
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
    }

    img#ml-profile-github-badge {
    	width: 7%;
    	position: absolute;
    	top: 38%;
    	left: 34%;
    	transform: scale(0);
    	-webkit-transform: scale(0);
    	-moz-transform: scale(0);
    }

    img#ml-profile-linkedin-badge {
    	width: 7%;
    	position: absolute;
    	top: 54%;
    	left: 32%;
    	transform: scale(0);
    	-webkit-transform: scale(0);
    	-moz-transform: scale(0);
    }

    div#ml-profile-type-wrapper {
    	width: 63%;
    	height: 23%;
    	position: absolute;
    	top: 59%;
    	left: 18%;
    }

    span.ml-typing-txt {
    	position: absolute;
    	font-size: 2.6em;
    	text-align: center;
    	width: 100%;
    	color: #aaaaaa;
    }

    div#ml-mini-profile {
    	width: 10px;
    	height: 10px;
    	left:0;
    	border-radius: 50%;
    	display: inline-block;
      background-color: #e8e8e8;
    	border-color: #e8e8e8;
    }

    div#ml-menu-icon-wrapper {
      text-transform: uppercase;
      /* display: block; */
      font-size: 22pt;
      left: 0%;
      max-width: 100%;
      height: 37px;
      text-align: right;
      color: #3c3c3c;
      padding: 3%;
      z-index: 9999999;
      position: relative;
    	background-color: #ffffff;
    }


    i#ml-menu-icon {
    	position: absolute;
    	right: 3%;
    	top: 35%;
    }

    i#ml-menu-close-icon {
    	position: absolute;
    	right: 3%;
    	display: none;
    	top: 35%;
    }

    nav#ml-mobile-navigation {
      width: 100%;
      position: fixed;
    	z-index: 999999; /* To make sure it's always on top! */
    }

    nav#ml-mobile-navigation #ml-mobile-navigation-content-wrapper {
    	max-width: 100%;
    	top: 0%;
    	left: 0;
    }

    nav#ml-mobile-navigation #ml-mobile-navigation-content {
    	width: 100%;
    	height: 210px;
    	bottom: 100%;
    	position: absolute;
    	left: 0;
    	background-color: rgba(249, 249, 249, 1);
    	z-index: 10;
    	border-bottom: solid 1px #efefef;
    }

    nav#ml-mobile-navigation #ml-mobile-navigation-content #ml-mobile-navigation-list {padding: 4% 3% 3%;text-align: center;margin: 0;font-size: 1.2em;font-weight: lighter;line-height: 1.5em;color: #4a4a4a;}

    ul#ml-mobile-navigation-list a {
        font-family: "RobotoRegular";
    }

    div#ml-mini-profile-wrapper {
        left: 0;
        position: relative;
        max-width: 100%;
    }

    img.ml-mini-social-icon {
    	width: 7%;
    	float: left;
    	margin-right: 2%;
    	margin-top: -0.5%;
    	display: none;
    }

    /* Site Content */

    main#ml-main {
     max-width: 100%;
     height: auto;
    }

    main#ml-main p {
    	font-family: "RobotoLight", Helvetica, Arial, sans-serif;
    	font-size: 0.9em;
    }

    main .ml-page-title {
      max-width: 100%;
      padding: 5% 0 3%;
    }

    main#ml-main p {
      color: #848484;
      line-height: 1.5em;
      font-size: 0.8em;
    }

    section#ml-bio {
      max-width: 73%;
      padding: 1% 3% 0% 1%;
      text-align: center;
      margin: 0 auto;
      left: 10%;
    }

    section#ml-content {
      max-width: 100%;
      padding: 2% 5% 0% 5%;
    }

    /* Skills Section */
    figure.ml-skillset {
    	width: 28%;
    	height: 20%;
    	padding: 0;
    	margin: 6% 2% 4%;
    	display: inline-block;
    }

    div.ml-skillset-desc {
    	-webkit-column-count: 3;
    	-moz-column-count: 3;
    	column-count: 3;
    	max-width: 100%;
    	font-size: 0.5em;
    	font-family: "OpenSansSemiBold";
    	color: #7d7d7d;
    	text-align: center;
    	padding: 0 0 3%;
    }
    article#ml-skills ul li {
    	text-align: center;
    }

    div.ml-skill-meter-wrapper {
    	max-width: 100%;
    	height: 10px;
    	margin: 1%;
    	position: relative;
    	background-color: #e8e8e8;
    	z-index: -1;
    }

    span.ml-skill-meter {
    	height: 96%;
    	background-color: #84b584;
    	display: block;
    	position: absolute;
    	z-index: -1;
    	width: 0;
    }


    p.ml-skilsset-years-exp {
    	text-align: center;
    	text-transform: uppercase;
    	font-family: "OpenSansBold" !important;
    	letter-spacing: 0.4em;
    	color: #b7b7b7 !important;
    	font-size: 0.5em !important;
    	padding-top: 3%;
    }

    hr.ml-divider{
    	border-top: 1px #f5f5f5;
    	border-left: 0;
    	border-right: 0;
    	width: 100%;
    }

    hr#ml-divider-01, hr#ml-divider-02, hr#ml-divider-04, hr#ml-divider-05 {
      display: none;
    }

    /*Portfolio-section */

    article#ml-portfolio h4 {padding: 4% 0 4%;}

    figure.ml-portfolio-expandable h5 {
    	font-family: "OpenSansSemiBold";
    	font-size: 1.2em;
    	color: #6d6d6d;
    	text-transform: uppercase;
    	padding: 5% 0 3% 0;
    }

    figure.ml-portfolio-expandable h4 {
        font-size: 0.8em;
        display: inline-block;
        text-align: left;
    }

    span.ml-bolder-text {
    	font-weight: bolder;
    	color: #5d5d5d;
    }

    i.ml-portfolio-collapse-icon {
    	width: 64%;
    	text-align: left;
    	right: 0;
    }

    div.ml-portfolio-collapse-tab {display: inline-block;text-align: center;width: 100%;}

    figure.ml-portfolio-expandable {
    	max-width: 100%;
      overflow: hidden;
    	padding: 0;
      margin: 0;
    	display:none;
    	box-shadow: 1%;
    }

    img.ml-portfolio-thumb {
    	width: 49%;
    	margin: 0;
    	padding: 2% 0 2% 0;
    	display: inline-block;
    	opacity: 0;
    }

    iframe#ml-web-portfolio-iframe-01, iframe#ml-web-portfolio-iframe-02, img#ml-web-portfolio-iframe-03 {
    	display:none;
    	opacity:0;
    	width: 50%;
    	height: 47vw;
    	padding: 0;
    	margin: 0;
    	position: relative;
    	left: 25%;
    }

    div#ml-web-portfolio-iframe-04 {
    	display: none;
    	text-align: center;
    	opacity:0;
    	width: 100%;
    }

    button.ml-github-cta {
    	background-color: #525252;
    	margin: 8% 0 8% 0;
      width: 80%;
      position: relative;
      left: 10%
    }

    .ml-github-cta:active {
    	background-color: #2d2d2d;
    	-webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    button.ml-github-cta h4 {
        font-size: 1.2em;
        letter-spacing: 0.35em;
        width: 100%;
        text-align: center;
        padding: 3% 0 3%;
    }

    button.ml-github-cta #ml-github-icon {
    	padding-right: 2%;
    	font-size: 1.5em;
    	vertical-align: bottom;
    }

    /* About-section */

    button.ml-linkedin-cta {
    	background-color: #6abae2;
    	margin: 8% 0 8% 0;
    	width: 80%;
      position: relative;
      left: 10%
    }

    .ml-linkedin-cta:active {
    	background-color: #2894ca;
    	-webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    button.ml-linkedin-cta h4 {
        font-size: 1.3em;
        color: #fff;
        letter-spacing: 0.35em;
    }

    button.ml-linkedin-cta #ml-linkedin-icon {
    	padding-right: 2%;
    	font-size: 1.5em;
    	vertical-align: bottom;
    }

    /* Tools Section */

    p.ml-toolbox-list {
    	text-align: center;
    	margin: 0% 0 10%;
    	padding: 0;
    }

    div.ml-toolbox-icon-wrapper {
    	width: 100%;
    	display: inline-block;
    	margin: 5% 0 0 0;
    }

    article#ml-toolbox h4 {
        padding: 8% 0 3%;
        font-size: 0.75em;
    }

    img.ml-toolbox-icon {
    	width: 30%;
    	height: 25%;
    	display: block;
    	margin: 0 auto;
    	text-align: center;
    	-webkit-transform: scale(0);
    	-moz-transform: scale(0);
    	transform: scale(0);
    }

    .ml-toolbox-figure {
    	padding: 1% 0 1%;
    	width: 32%;
    	display: inline-block;
    	margin: 0;
    }

    /* Contact Section */
    article#ml-contact {
      max-width: 100%;
      height: 100%;
      text-align: center;
      display: inline-block;
      margin: 9% 0 0;
    }

    img.ml-social-icon {
      width: 20%;
      height: auto;
      display: inline-block;
      margin: 0 auto;
      padding: 7% 3% 5% 3%;
    	-webkit-transform: scale(0);
    	-moz-transform: scale(0);
    	transform: scale(0);
    }

    article#ml-contact h3 {
      padding: 0% 0 3%;
    }

    figure.ml-contact-mail {
    	width: 38%;
    	/* height: 100px; */
    	display: inline-block;
    	/* position: relative; */
    	padding-bottom: 0%;
    	float: left;
    }

    figure.ml-contact-socials {
    	max-width: 35%;
    	height: 100px;
    	display: inline-block;
    	/* margin: 0; */
    	/* padding-top: 0%; */
    	float: right;
    }

    figure.ml-contact-socials {
    	max-width: 38%;
    	/* height: 100px; */
    	display: inline-block;
    	/* margin: 0; */
    	/* padding-top: 0%; */
    	/* float: right; */
    }


    /* Footer */

    footer#ml-footer {
      max-width: 100%;
      height: 7%;
      padding: 5% 0 0;
      margin-bottom: 47%;
    }

    footer .ml-footer-text {
    	font-size: 0.65em;
    	text-align: center;
    	color: #a7a7a7;
    }



}

/* DESKTOP */

@media only screen
  and (min-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {

    /* Actual CSS-Styles */

    body {
      font-family: "Helevetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14pt;
      color: #1a1a1a;
    }

    h1, h2, h3, h4, h5 {

    }

    h1 {}

    h2 {}

    h3 {
      padding: 3% 0 5%;
      letter-spacing: 0.1em;
      color: #737373;
      font-size: 1.1em;
    }

    h4 {
        padding: 0% 0 3%;
        font-size: 0.9em;
    }

    .ml-content-h4 {
        padding: 6% 0 6%;
        font-size: 1em;
    }

    .ml-cta {
        padding: 8% 0 8%;
    }

    h5 {
    }

    a {text-decoration: none};

    ul#ml-desktop-navigation-list {
        list-style: none;
        padding: 0px 20px !important;
        margin: 0;
    }

    li {
      float: left;
      padding-right: 7%;
    }

    li:last-child {
    float: left;
    padding-right: 0%;
    }

		div.ml-skillset-desc li:nth-child(2) {
		 padding-left: 19%;
		 }

		div.ml-skillset-desc li:last-child {
		    float: right;
		    padding-right: 0%;
		 }

    /* Wrapper */

    /* Header */

    div#ml-mobile-navigation-content-wrapper {
      display: none;
    }

    div#ml-desktop-navigation-content-wrapper {
    	background-color: white;
    	width: 100%;
    	height: 55px;
    	display: block;
    	margin: 0 auto;
    }

    header#ml-mobile-header {
      max-width: 100%;
      height: 6%;
    }

    div.ml-desktop-menu-scrolled {
      border-bottom: solid 1px;
      border-color: #f3f3f3;
    }

		section#ml-desktop-mini-profile-wrapper {
					display: block;
				}

    section#ml-profile-wrapper {
      max-width: 1024px;
      height: 42%;
      padding: 8% 0 0;
      position: relative;
      margin: 0 auto;
    }

    div#ml-profile {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background-color: #e8e8e8;
      display: table;
      border-color: #e8e8e8;
      margin: 0 auto;
      /* z-index: -2; */
      position: relative;
      transform: scale(0);
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
    }

    img#ml-profile-github-badge {
    	width: 5%;
    	position: absolute;
    	top: 125px;
    	left: 390px;
    	transform: scale(0);
    	-webkit-transform: scale(0);
    	-moz-transform: scale(0);
    }

    img#ml-profile-linkedin-badge {
    	width: 5%;
    	position: absolute;
    	top: 178px;
    	left: 368px;
    	transform: scale(0);
    	-webkit-transform: scale(0);
    	-moz-transform: scale(0);
    }

    div#ml-profile-type-wrapper {
    	width: 63%;
    	height: 23%;
    	position: absolute;
    	top: 204px;
    	left: 188px;
    	pointer-events: none;
    }

    span.ml-typing-txt {
    	position: absolute;
    	font-size: 2.6em;
    	text-align: center;
    	width: 100%;
    	color: #aaaaaa;
    }

    div#ml-mini-profile {
    	width: 10px;
    	height: 10px;
    	left:0;
    	border-radius: 50%;
    	display: inline-block;
      background-color: #e8e8e8;
    	border-color: #e8e8e8;
    }

    div#ml-menu-icon-wrapper {
      text-transform: uppercase;
      display: inline-block;
      font-size: 22pt;
      left: 6%;
      width: 13%;
      height: 37px;
      text-align: right;
      color: #3c3c3c;
      padding: 0;
      z-index: 9999999;
      position: relative;
      background-color: transparent;
      display: inline-block;
    }


    i#ml-menu-icon {
    	position: absolute;
    	right: 3%;
    	top: 35%;
    }

    i#ml-menu-close-icon {
    	position: absolute;
    	right: 3%;
    	display: none;
    	top: 35%;
    }

    div#ml-desktop-navigation-content {width: 415px;height: 100%;position: relative;padding: 14px 0 13px;margin: 0 auto;}

    div#ml-mini-profile-wrapper {
        left: 0;
        position: relative;
        max-width: 100%;
    }

    img.ml-desktop-mini-social-icon {
    	width: 39%;
    	float: left;
    	margin-right: 11%;
    	margin-top: -0.5%;
    	display: none;
    }

    /* Site Content */

    main#ml-main {
     max-width: 100%;
     height: auto;
    }

    main#ml-main p {
    	font-family: "RobotoLight", Helvetica, Arial, sans-serif;
    	font-size: 0.85em;
      width: 850px;
      margin: 0 auto;
      padding: 12px;
    }

    main .ml-page-title {
      max-width: 100%;
      padding: 5% 0 3%;
      letter-spacing: 3px;
    }

    main#ml-main p {
      color: #848484;
      line-height: 1.5em;
    }

    section#ml-bio {
      max-width: 47%;
      padding: 0% 3% 0% 1%;
      text-align: center;
      margin: 0 auto;
      left: 10%;
      font-size: 1.04em;
    }

    section#ml-content {
      max-width: 1024px;
      padding: 2% 3% 0% 3%;
      margin: 0 auto;
    }

    /* Skills Section */
    figure.ml-skillset {
    	width: 28%;
    	height: 20%;
    	padding: 0;
    	margin: 6% 2% 4%;
    	display: inline-block;
    }

    div.ml-skillset-desc {
    	-webkit-column-count: 3;
    	-moz-column-count: 3;
    	column-count: 3;
    	max-width: 100%;
    	font-size: 0.5em;
    	font-family: "OpenSansSemiBold";
    	color: #7d7d7d;
    	text-align: center;
    	padding: 0 0 3%;
    }
    article#ml-skills ul li {
    	text-align: center;
    }

    div.ml-skill-meter-wrapper {
    	max-width: 100%;
    	height: 10px;
    	margin: 1%;
    	position: relative;
    	background-color: #e8e8e8;
    	z-index: -1;
    }

    span.ml-skill-meter {
    	height: 96%;
    	background-color: #84b584;
    	display: block;
    	position: absolute;
    	z-index: -1;
    	width: 0;
    }


    p.ml-skilsset-years-exp {
    	text-align: center;
    	text-transform: uppercase;
    	font-family: "OpenSansBold" !important;
    	letter-spacing: 0.4em;
    	color: #b7b7b7 !important;
    	font-size: 0.6em !important;
    	padding-top: 3%;
      width: auto !important;
    }

    hr.ml-divider{
    	border-top: 1px #f5f5f5;
    	border-left: 0;
    	border-right: 0;
    	width: 100%;
    }

    hr#ml-divider-01, hr#ml-divider-02, hr#ml-divider-04, hr#ml-divider-05 {
      display: none;
    }

    /*Portfolio-section */

    article#ml-portfolio h4 {padding: 4% 0 4%;}

    figure.ml-portfolio-expandable h5 {
    	font-family: "OpenSansSemiBold";
    	font-size: 1.4em;
    	color: #6d6d6d;
    	text-transform: uppercase;
    	padding: 5% 0 3% 6%;
    	text-align: left;
    }

    figure.ml-portfolio-expandable h4 {
        font-size: 0.8em;
        display: inline-block;
        text-align: left;
    }

    span.ml-bolder-text {
    	font-weight: bolder;
    	color: #5d5d5d;
    }

    i.ml-portfolio-collapse-icon {
    	width: 64%;
    	text-align: left;
    	right: 0;
    }

    div.ml-portfolio-collapse-tab {display: inline-block;text-align: center;width: 100%;}

    figure.ml-portfolio-expandable {
    	max-width: 100%;
      overflow: hidden;
    	padding: 0;
      margin: 0;
    	display:none;
    	box-shadow: 1%;
    }

    img.ml-portfolio-thumb {
    	width: 32%;
    	margin: 0;
    	padding: 2% 0 2% 0;
    	display: inline-block;
    	opacity: 0;
    }

    iframe#ml-web-portfolio-iframe-01, iframe#ml-web-portfolio-iframe-02, img#ml-web-portfolio-iframe-03 {
    	display:none;
    	opacity:0;
    	width: 414px;
    	height: 414px;
    	padding: 0;
    	margin: 0;
    	position: relative;
    	left: 25%;
    }

    div#ml-web-portfolio-iframe-04 {
    	display: none;
    	text-align: center;
    	opacity:0;
    	width: 100%;
    }

    button.ml-github-cta {
    	background-color: #525252;
    	margin: 0;
    	width: 48%;
    	display: inline-block;
    	left: 0;
    	border-radius: 6px;
    }

    .ml-github-cta:active {
    	background-color: #2d2d2d;
    	-webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    button.ml-github-cta h4 {
        font-size: 1.2em;
        letter-spacing: 0.35em;
        width: 100%;
        text-align: center;
        padding: 8% 0 8%;
    }

    button.ml-github-cta #ml-github-icon {
    	padding-right: 2%;
    	font-size: 1.5em;
    	vertical-align: bottom;
    }

    /* About-section */

    button.ml-linkedin-cta {
    	background-color: #6abae2;
    	margin: 0;
    	width: 47%;
    	display: inline-block;
    	left: 0;
    	border-radius: 6px;
    }

    .ml-linkedin-cta:active {
    	background-color: #2894ca;
    	-webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    button.ml-linkedin-cta h4 {
        font-size: 1.2em;
        color: #fff;
        letter-spacing: 0.35em;
    }

    button.ml-linkedin-cta #ml-linkedin-icon {
    	padding-right: 2%;
    	font-size: 1.5em;
    	vertical-align: bottom;
    }

    /* Tools Section */

    div#ml-toolbox-wrapper {
      width: 100%;
      height: auto;
      display: inline-block;
      margin: 3% 0 0;
    }

    p.ml-toolbox-list {
    	text-align: center;
      width: auto !important;
      padding: 3px !important;
    }

    div.ml-toolbox-icon-wrapper {
    	width: 100%;
    	display: inline-block;
    	margin: 5% 0 0 0;
    }

    article#ml-toolbox h4 {
        padding: 8% 0 3%;
        font-size: 0.75em;
    }

    img.ml-toolbox-icon {
    	width: 30%;
    	height: 25%;
    	display: block;
    	margin: 0 auto;
    	text-align: center;
    	-webkit-transform: scale(0);
    	-moz-transform: scale(0);
    	transform: scale(0);
    }

    .ml-toolbox-figure {
    	/* padding: 1% 1% 1%; */
    	width: 32%;
    	display: inline-block;
    	/* margin: 0 auto; */
    }

    /* Contact Section */
    article#ml-contact {
      max-width: 100%;
      height: 100%;
      text-align: center;
      display: inline-block;
      margin: 9% 0 0;
    }

    img.ml-social-icon {
      width: 20%;
      height: auto;
      display: inline-block;
      margin: 0 auto;
      padding: 7% 3% 5% 3%;
    	-webkit-transform: scale(0);
    	-moz-transform: scale(0);
    	transform: scale(0);
    }

    article#ml-contact h3 {
      padding: 0% 0 3%;
    }

    figure.ml-contact-mail {
    	width: 42%;
    	height: 100px;
    	display: inline-block;
    	/* position: relative; */
    	padding-bottom: 0%;
    	float: left;
    }

    figure.ml-contact-socials {
    	max-width: 35%;
    	height: 100px;
    	display: inline-block;
    	/* margin: 0; */
    	/* padding-top: 0%; */
    	float: right;
    }

    div#ml-about-cta-wrapper {
      width: 36%;
      height: auto;
      margin: 0 auto;
      padding: 5%;
    }

    /* Footer */

    footer#ml-footer {
      max-width: 100%;
      height: 7%;
      /* padding: 5% 0 0; */
      margin-top: 6%;
      margin-bottom: 3%;
    }

    footer .ml-footer-text {
    	font-size: 0.65em;
    	text-align: center;
    	color: #a7a7a7;
    }

}
